<div class="container">

  <header>
    <strong>Angular aNd Electron</strong>
    <nav>
      <ul>
        <li>
          <img src="./assets/btn-min.svg" id="min" (click)="minimizeWindow()">
        </li>
        <li>
          <img src="./assets/btn-max.svg" id="max" (click)="maxmizeWindow()">
        </li>
        <li>
          <img src="./assets/btn-close.svg" id="clo" (click)="closeWindow()">
        </li>
      </ul>
    </nav>
  </header>

  <main>
    <!-- teoricamente o rest  vai aqui -->
  </main>
</div>